/* Section Why Service styles */

/* Section Why Service styles */

.why-service-container {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;

  h2 {
    padding-bottom: 24px;
    max-width: 650px;
    color: var(--text-900);

    .highlight {
      color: var(--primary-900);
    }
  }

  .why-service-content {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .why-service-col1 {
      min-height: 600px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 16px;

      .why-service-quote {
        position: relative;
        flex: 6;
        background-color: var(--secondary-900);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background-size: cover;
        overflow: hidden;
        padding: 25px;
        box-sizing: border-box;
        border-radius: 16px;
        color: var(--text-200);

      }

      .why-service-quote::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/Images/flowers-bkg.png");
        background-size: cover;
        background-position: center;
        opacity: 0.05; 
        z-index: 0;
      }

      .why-service-quote > * {
        position: relative;
        z-index: 1; 
      }

      .button-group {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100%;
        flex: 0.5;

        .prev-btn, .next-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: var(--secondary-900);
          color: var(--text-200);
          width: 48px;
          height: 48px;
          border-radius: 560px;
          padding: 8px 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--secondary-700);
          }
        }
      }
    }

    .why-service-col2 {
      min-height: 400px;
      max-height: fit-content;
      width: 75%;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .benefit-card {
        flex: 1;

        border-radius: 16px;
        

        & img {
          width: 100%;
          height: 200px;
          border-radius: 16px 16px 0 0;
          display: flex;
 
          object-fit: cover;
        }

        & .text-container {
          display: flex;
          flex-direction: column;
          min-height: 170px;
          padding: 24px;
          background-color: var(--secondary-300);
          border-radius: 0 0 16px 16px;
          & h6 .highlight {
            color: var(--secondary-900);
          }
        }
      }
    }
  }
}



@media (max-width: 1160px) {
.why-service-content {
  flex-direction: column !important; 

  .why-service-col1, .why-service-col2 {
    width: 100% !important;
    min-height: auto !important;

  }

  .why-service-col1 {
    flex-direction: row !important;
    align-items: center !important;
  }
}
}


@media (max-width: 870px) {
.why-service-container h2 {
  text-align: center !important;
}

.button-group  {
  display: none !important;
}

.why-service-col2 {
flex-wrap: wrap !important;

.benefit-card .text-container {
  min-height: auto !important;
}

}
 



 }