.footer-container {
  background: linear-gradient(to top, rgba(126, 126, 127, 0.5), rgba(40, 40, 42, 0.65)), url('/Images/footer_bkg.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 104px;

  .footer-box-calendar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;

    .footer-box-calendar-cta {
      h2 {
        color: var(--bkg-3);
        width: 80%;
        .highlight {
          color: var(--primary-600);
        }
        padding: 16px 0px;
      }
      p {
        color: var(--bkg-3);
        width: 80%;
        padding-bottom: 16px;
      }
      img {
        width: 80%;
        height: 300px;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }

  .footer-box-navegation {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    h6 {
      color: var(--bkg-3);
      font-weight: 500;
      margin-bottom: 24px;
    }
    p {
      color: var(--bkg-3);
      font-size: 14px;
      font-weight: 600;
      padding-top: 16px;
      font-family: 'open-sans';
    }
    li {
      color: var(--bkg-3);
      font-size: 16px;
      padding-bottom: 8px;
      font-family: 'open-sans';
    }
    ul {
      color: var(--bkg-3);
      font-size: 16px;
      padding-bottom: 8px;
      line-height: 20px;
      font-family: 'open-sans';
    }
    a {
      text-decoration: none;
      color: var(--bkg-3);
    }
  }

  .footer-box-cta {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;

    h2 {
      width: 60%;
      color: var(--bkg-3);
      padding-bottom: 48px;
    }
    span {
      color: var(--bkg-3);
    }
    h6 {
      color: var(--bkg-3);
      font-weight: 500;
      margin-bottom: 8px;
    }
  }

  .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 10px 15px;
    background-color: transparent;
    width: 600px;
  }

  .input-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    flex: 1;
    font-size: 14px;
    margin-right: 10px;
  }

  .input-wrapper .arrow {
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .input-wrapper input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}


//responsive

@media (max-width: 768px) { // Tablets
  .footer-container {
    padding: 50px;

    .footer-box-calendar,
    .footer-box-navegation,
    .footer-box-cta {
      display: block;
      text-align: center;

      h2,
      p {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .input-wrapper {
      width: 100%;
      max-width: 400px;
    }
  }
}

@media (max-width: 480px) { // Móviles
  .footer-container {
    padding: 30px;

    .footer-box-calendar,
    .footer-box-navegation,
    .footer-box-cta {
      h2 {
        font-size: 24px;
      }

      p, ul, li {
        font-size: 14px;
      }
    }

    .input-wrapper {
      width: 100%;
      padding: 5px 10px;
    }
  }
}