.google-reviews-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/Images/reviews-bkg.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: white;
  padding: 20px 104px;
  flex-wrap: wrap;
  height: 20vh;
}

.google-reviews-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  span {
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
  }
}
.google-reviews-buttom {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.google-reviews-buttom button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s, transform 0.5s ease-out;

  &:hover {
    transform: scale(1.08);
  }
}

.google-reviews-buttom button svg {
  transform: rotate(-45deg);
  color: var(--primary-900);
}
.google-reviews-stars {
  font-size: 20px;
}

.google-reviews-carousel {
  flex: 3;
  overflow: hidden;
  width: 100%;
}

.google-reviews-slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.google-review {
  background-color: rgba(255, 255, 255, 0);
  margin-right: 20px;
  border-radius: 16px;
  padding: 10px;
  min-width: calc(100% / 3 - 20px); /* Tres reseñas visibles en escritorio */
  box-sizing: border-box;
  p{
    line-height: 20px;
    padding-bottom: 8px;
  }
}

/* Media Queries para Tablets y Móviles */
@media (max-width: 1024px) {
  .google-reviews-container {
    display: block;
    padding: 16px 50px;
  }

  .google-reviews-slider {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .google-review {
    width: 100%;
    margin-right: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    span{
        font-size: 14px;
    }
    p{
        font-size: 16px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
  }

  .google-reviews-header,
  .google-reviews-buttom {
    text-align: center;
  }
}




