@use "/Styles/Reset.scss" as reset;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

/* Colors */
:root {
  /*Primary Colors*/
  --primary-900: #f1572d;
  --primary-800: #f47653;
  --primary-700: #f69479;
  --primary-600: #f9b3a0;
  --primary-500: #fac2b3;
  --primary-400: #fbd1c6;
  --primary-300: #fde1d9;
  --primary-200: #fef0ec;
  --primary-100: #fffdfd;
  --primary-50: #fffdfd;
  --primary-0: #fffdfd;

  /*Secondary Colors*/
  --secondary-900: #6c7a52;
  --secondary-800: #85916f;
  --secondary-700: #9da78b;
  --secondary-600: #b6bea8;
  --secondary-500: #c2c9b6;
  --secondary-400: #ced4c4;
  --secondary-300: #dbe0d3;
  --secondary-200: #e7ebe1;

  /*Accent Colors*/
  --accent-900: #ffd131;
  --accent-800: #ffda5a;
  --accent-700: #ffe383;
  --accent-600: #ffedad;
  --accent-500: #fff1c1;
  --accent-400: #fff6d6;
  --accent-300: #fffaea;
  --accent-200: #ffffff;

  /*Alt Colors*/
  --text-900: #28282a;
  --text-800: #535355;
  --text-700: #7e7e7f;
  --text-600: #a9a9aa;
  --text-500: #bfbfbf;
  --text-400: #d4d4d4;
  --text-300: #eaeaea;
  --text-200: #ffffff;

  /*z Colors*/
  --error-900: #c62828;
  --error-800: #cc3e3e;
  --error-700: #d15353;
  --error-600: #d76969;
  --error-500: #dd7e7e;
  --error-400: #e39494;
  --error-300: #e8a9a9;
  --error-200: #eebfbf;
  --error-100: #f4d4d4;
  --error-50: #f9eaea;
  --error-0: #fbf2f2;

  /*Background Colors*/
  --bkg-1: #ebe3d2;
  --bkg-2: #fbf9f6;
  --bkg-3: #fcfaf8;

  /* Shadows */

  --shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

div {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--bkg-1);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-image: url("/images/home-bkg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

/*Scrollbar Color*/

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 24px; /* thickness of vertical scrollbar */
  height: 12px; /* thickness of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--primary-500); /* background of the scrollbar track */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-900); /* scrollbar color */
  border-radius: 8px; /* rounded corners */
  border: 2px solid var(--primary-900); /* creates space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* darker on hover */
}

/* Firefox */
* {
  scrollbar-width: auto; /* auto | thin | none */
  scrollbar-color: var(--primary-900) var(--primary-200); /* thumb | track */
}

/* Heading Font*/
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Heading Bold*/
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

/* Paragraph Font */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Paragraph Italic Font */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/* Paragraph Bold Font */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: semibold;
}
/* Paragraph Bold Font */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

/*Headings and paragraph mixins*/
@mixin font-size-transition($time: 0.3s) {
  transition: font-size $time ease-in-out;
}
@mixin heading-1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.24px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@mixin heading-2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.96px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@mixin heading-3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 39px;
  line-height: 48px;
  letter-spacing: -0.78px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin heading-4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.64px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@mixin heading-5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.5px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

@mixin heading-6 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

@mixin heading-button {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.4px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

@mixin paragraph-default {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@mixin bold-text {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@mixin link-text {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@mixin paragraph-small {
  font-family: "open-sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@mixin small-text {
  font-family: "open-sans";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1rem;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@mixin super-small-text {
  font-family: "open-sans";
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1rem;
  @include font-size-transition;

  @media (max-width: 768px) {
    font-size: 0.5625rem;
    line-height: 1rem;
  }
}

/*Text Styles*/
h1,
.heading-1 {
  @include heading-1;
}

h2,
.heading-2 {
  @include heading-2;
}

h3,
.heading-3 {
  @include heading-3;
}

h4,
.heading-4 {
  @include heading-4;
}

h5,
.heading-5 {
  @include heading-5;
}

h6,
.heading-6 {
  @include heading-6;
}

.heading-button {
  @include heading-button;
}

p,
.plain-text,
ul,
li body,
div {
  @include paragraph-default;
}

link,
a {
  text-decoration: none;
  color: inherit;
  @include link-text;
}

b,
strong,
.bold-text {
  @include bold-text;
}

small,
.small-text {
  @include small-text;
}

i {
  @include paragraph-default;
}

::selection {
  background-color: var(--primary-900);
}

/*Extra styles*/

.heading-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.menu-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

/*Hero Section*/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0 64px 0;
  max-height: 1080px;

  .hero-content {
    .hero-content-text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .highlight {
        color: var(--accent-900);
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      gap: 32px;

      @media (max-width: 620px) {
        width: 70%;
        min-width: 200px;
        max-height: 650px;
        margin: auto;
        gap: 16px;
        flex-direction: column;
      }

      @media (max-width: 400px) {
        width: 80%;
      }
      @media (max-width: 340px) {
        width: 100%;
        margin: 0;
      }
    }
  }
}

#home-bg {
  background: linear-gradient(
      to top,
      rgba(73, 73, 73, 0.6),
      rgba(40, 40, 42, 0.3)
    ),
    url("/images/house-footer.jpg");
  background-size: cover;
  height: 90vh;

  min-height: 400px;

  .hero-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--bkg-3);
    display: flex;
    flex-direction: column;
    gap: 24px;
    .hero-content-text {
      max-width: 630px;
      margin: 0 auto;
    }

    .button-container {
      justify-content: center;
    }
  }

  @media (max-width: 1200px) {
    transition: height 0.3s ease;
    height: 100vh;
    max-height: 700px;
    padding: 32px 5% 52px 5%;
  }

  @media (max-height: 500px) and (orientation: landscape) {
    min-height: 500px;
  }
}

/*Normal Sections width settings*/

.section {
  max-width: 1360px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    padding-right: 5%;
    padding-left: 5%;
  }
}

#services-layout {
  background-size: cover;
  background-position: center;
  height: 70vh;

  .hero-content {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: flex-start;
    color: var(--bkg-1);
    display: flex;
    flex-direction: column;

    @media (max-width: 620px) {
      align-items: center !important;
      text-align: center !important;
    }

    .hero-content-text {
      max-width: 630px;

      @media (max-width: 620px) {
        align-items: center !important;
        text-align: center !important;
      }
    }

    .button-container {
      padding-top: 16px;
      justify-content: flex-start;
    }
  }

  @media (max-width: 1400px) {
    transition: height 0.3s ease;
    height: 100vh;
    max-height: 700px;
    padding: 32px 5% 52px 5%;
  }

  @media (max-height: 600px) and (orientation: landscape) {
    min-height: 500px;
  }
}

/*Backgrounds of hero sections services*/
.landleveling-bg,
.bg-hero-landscaping {
  background: url("/images/desing-hero.webp");
}

.faq-bg {
  background: url("/images/Garage.webp");
}

.how-it-works-bg {
  background: url("/Images/Garage.webp");
}

/*Animation classes*/
.reveal {
  opacity: 0;
  transform: translateY(100px); // start slightly below
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.in-view {
  opacity: 1;
  transform: translateY(0); // fade in and move up
}

.reveal-left {
  opacity: 0;
  transform: translateX(-100px); // start slightly off left
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-left.in-view {
  opacity: 1;
  transform: translateX(0); // fade in and move right
}

.reveal-right {
  opacity: 0;
  transform: translateX(100px); // start slightly off right
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-right.in-view {
  opacity: 1;
  transform: translateX(0); // fade in and move left
}

.reveal-fade {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.reveal-fade.in-view {
  opacity: 1;
}

/* globals.scss or global CSS */
.page-fade {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.page-fade.visible {
  opacity: 1;
}

.serviceName {
  padding-bottom: 4px;
}

/*Colors*/
.highlight-primary {
  color: var(--primary-900);
}

/*Paddings*/

.mt-16 {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

/*Animation to hover*/

html {
  scroll-behavior: smooth;
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh; /* at least viewport, grows with content */
  height: auto; /* remove hard 100% */
}

/* Splash full screen */

.page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevent unwanted scroll */
}

/* Splash full screen */

/* Splash full screen */
.splash-screen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: var(--primary-900);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.splash-logo {
  width: 60vw;
  max-width: 600px;
  min-width: 120px;
  height: auto;
  display: block;
}
