.design-container {
  background: url("/images/garage.webp");
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .hero-content {
    max-width: 650px;
    margin: 0;
    color: var(--bkg-3);

    h1 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 24px;
    }

    .highlight {
      color: var(--accent-900);
    }
  }
}

/* Responsive para tabletas */
@media (max-width: 1024px) {
  .design-container {
    padding: 30px;
    height: 600px;
    align-items: center;
    text-align: center;

    .button-container {
      justify-content: center;
    }
    .hero-content {
      max-width: 100%;

      h1 {
        font-size: 36px;
        /* Ajusta el tamaño de fuente */
        line-height: 36px;
      }

      p {
        font-size: 1em;
        line-height: 1.4;
        /* Mejora la legibilidad */
      }
    }
  }
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .design-container {
    height: 600px;
    /* Deja que la altura se ajuste automáticamente */

    .hero-content {
      max-width: 100%;
      /* Usa todo el ancho disponible */

      h1 {
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 16px;
        margin: 0px;
      }

      p {
        font-size: 0.9em;
      }
    }
  }
}

/* CTA section Styles */
.cta-section {
  padding-top: 160px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: flex-start;

  .cta-content-left {
    display: flex;
    flex-direction: column;
    max-width: 540px;

    h2 {
      color: var(--text-900);
    }

    .highlight {
      color: var(--primary-900);
    }
  }

  .cta-content-right {
    max-width: 480px;
    align-items: center;

    .button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 16px;

      .button-link-link {
        position: relative;
        height: 24px;
        display: flex;
        gap: 8px !important;
        align-items: center;
        justify-content: space-between;
        padding: 16px 20px;
        overflow: hidden;
        cursor: pointer;
        color: var(--text-900);
        width: fit-content;
      }

      .arrow-icon {
        color: var(--text-900);
      }

      .button-link-text {
        position: relative;
        padding-bottom: 2px;
        text-decoration: none;
        color: var(--text-900);
      }

      .button-link-text::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--text-900);
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom right;
      }

      .button-link-link:hover .button-link-text::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  // Responsive para tablet
  @media (max-width: 1024px) {
    padding-top: 160px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    h2 {
      font-size: 28px;
      line-height: 28px;
    }

    .cta-content-left,
    .cta-content-right {
      max-width: 100%;
      text-align: center;
    }

    .cta-content-right .button-container {
      justify-content: center;
    }
  }

  // Responsive para móvil
  @media (max-width: 480px) {
    padding: 40px 30px;
    gap: 32px;

    .cta-content-left,
    .cta-content-right {
      max-width: 100%;
      text-align: center;
    }

    .cta-content-right .button-container {
      flex-direction: column;
      align-items: center;
    }
  }
}
